{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Pay by credit card' %}{% endblock %}

{% block content %}
  <p class="breadcrumb">
    <a href="/">FreshFood</a>
    <a href="{% url 'payment:process' %}">{% trans 'Payment' %}</a>
  </p>

  <p class="heading-primary">{% trans 'Pay by credit card' %}</p>

  <div class="payment">
    <div class="payment__message">
      <p class="payment__icon payment__success">
        <i class="fas fa-check"></i>
      </p>
      <p class="payment__text">
        <span>{% trans 'Your payment has been successfully completed' %}</span>
        <span>{% trans 'Check your order email to review this order payment' %}</span>
      </p>
    </div>
  </div>
{% endblock %}