{% extends 'base.html' %}

{% block title %}Pay by credit card{% endblock %}

{% block content %}
  <p class="breadcrumb">
    <a href="/">FreshFood Homepage</a>
    <a href="{% url 'payment:process' %}">Payment</a>
  </p>

  <p class="heading-primary">Pay By Credit Card</p>

  <div class="payment">
    <div class="payment__message">
      <p class="payment__icon payment__success">
        <i class="fas fa-check"></i>
      </p>
      <p class="payment__text">
        <span>Your payment has been successfully completed</span>
        <span>Check your order email to review this order payment</span>
      </p>
    </div>
  </div>
{% endblock %}