{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<p class="breadcrumb">
  <a href="/">FreshFood</a>
  <a href="{{ product.category.get_absolute_url }}">
    {{ product.category.name }}
  </a>
  <a href="{{ product.get_absolute_url }}">
    {{ product.name }}
  </a>
</p>

<div class="detail">
  <div class="detail__image">
    <img
      src="{% thumbnail product.image 960x720 crop %}"
      alt="{{ product.slug }}"
    />
  </div>

  <div class="detail__info">
    <p class="detail__title">{{ product.name }}</p>
    <p class="detail__description">
      {{ product.description }}
    </p>
    <p class="detail__price">{% trans 'Price' %}: <span>${{ product.price }}</span></p>
    <p class="detail__stock">
      {% trans 'Stock' %}:
      <span>
        {% if product.available %}
          {% trans 'In-stock' %}
        {% else %}
          {% trans 'Out of stock' %}
        {% endif%}
      </span>
    </p>
    <p class="detail__ingredients">
      Main ingredients: <span>Tomato, Noodle, Beef</span>
    </p>
    <a href="#" class="btn btn--primary btn--big btn--block">
      {% trans 'Add To Cart' %}
    </a>
    <a href="#" class="btn btn--danger btn--big btn--block">
      {% trans 'Checkout' %}
    </a>
    <p class="detail__shipping">{% trans 'Shipping' %}: <span>{% trans 'Free' %}</span></p>
    <p class="detail__payment">{% trans 'Payment' %}: {% trans 'Credit Card' %}</p>
  </div>
</div>

<div class="recommend">
  <p class="heading-secondary">{% trans 'People bought this also bought' %}</p>
  <div class="card-grid">
    {% for product in recommended_products %}
    <div class="card">
      <img src="{% thumbnail product.image 640x480 crop %}" alt="{{ product.slug }}" class="card__image" />

      <div class="card__content">
        <p class="card__title">{{ product.name }}</p>
        <p class="card__description">
          {{ product.description }}
        </p>
        <p class="card__price">{% trans 'Price' %}: <span>${{ product.price }}</span></p>
      </div>

      <div class="card__button">
        <a href="#" class="card__button--order" id="product-{{ product.id }}">{% trans 'Add To Cart' %}</a>
        <a href="{{ product.get_absolute_url }}" class="card__button--detail">
          {% trans 'Detail' %}
        </a>
      </div>
    </div>
    {% empty %} {% trans 'No Products' %} {% endfor%}
  </div>
</div>


{% endblock %}
