{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}{% trans 'Your cart' %}{% endblock %}

{% block content %}
  <p class="breadcrumb">
    <a href="/">FreshFood</a>
    <a href="{% url 'cart:cart_detail' %}">{% trans 'Your cart' %}</a>
  </p>

  <p class="heading-primary">{% trans 'Your Cart' %}</p>

  <div class="cart">
    <div class="cart__grid">
      {% for item in cart %}
        {% with product=item.product %}
          <div class="cart__item" id="cart-item-{{ product.id }}">
            <div class="cart__quantity">
              <span id="increment-{{ product.id }}">+</span>
              <p id="product-quantity-{{ product.id }}">{{ item.quantity }}</p>
              <span id="decrement-{{ product.id }}">-</span>
            </div>

            <a class="cart__content" href="{{ product.get_absolute_url }}">
              <img
                src="{% thumbnail product.image 160x120 crop %}"
                alt="cart__image"
                class="cart__img"
              />
              <div class="cart__text">
                <p class="cart__title">{{ product.name }}</p>
                <p class="cart__category">{{ product.category }}</p>
                <p
                  class="cart__price"
                >
                  {% trans 'Price' %}:
                  <span class="cart__unit">$</span>
                  <span
                    class="cart__price-number"
                    id="price-{{ product.id }}"
                  >
                    {{ product.price }}
                  </span>
                </p>
                <p
                  class="cart__price"
                >
                  {% trans 'Total' %}:
                  <span class="cart__unit">$</span>
                  <span
                    class="cart__price-number"
                    id="total-price-{{ product.id }}"
                  >
                    {{ item.total_price }}
                  </span>
                </p>
              </div>
            </a>

            <div class="cart__close" id="clear-item-{{ product.id }}">
              <i class="fas fa-times"></i>
            </div>
          </div>
        {% endwith %}
      {% empty %}
          Your Cart Is Empty
      {% endfor %}
    </div>

    <div class="cart__subgrid">
      <div class="cart__coupon">
        {% if cart.coupon %}
          <p class="heading-secondary">{% trans 'A coupon applied' %}</p>
            <p class="cart__coupon-message">
              {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
                Coupon <span>{{ code }}</span> applied <span>({{ discount }}% off)</span>
              {% endblocktrans %}
            </p>
        {% else %}
          <p class="heading-secondary">{% trans 'Apply a coupon' %}</p>
          <form action="{% url 'coupons:apply' %}" method="post">
            {{ coupon_apply_form.as_p }}
            {% csrf_token %}
            <input
              type="submit"
              class="btn btn--primary btn--small"
              value="{% trans 'Apply' %}"
            />
          </form>
        {% endif %}
      </div>

      <div class="cart__checkout">
        <p class="cart__total">
          {% trans 'Cart total' %}:
          <span class="cart__unit">$</span>
          <span id="cart-total">{{ checkout.cart_total }}</span>
        </p>
        <p class="cart__discount">
          {% trans 'Discount' %}:
          <span class="cart__unit">- $</span>
          <span id="discount">{{ cart.get_discount|floatformat:2 }}</span>
        </p>
        <p class="cart__delivery">
          {% trans 'Delivery'%}:
          <span class="cart__unit">$</span>
          <span id="delivery">{{ checkout.delivery }}</span>
        </p>
        <p class="cart__subtotal">
          {% trans 'Subtotal' %}:
          <span class="cart__unit">$</span>
          <span id="sub-total">{{ cart.get_total_price_after_discount|floatformat:2 }}</span>
        </p>
        <a
          href="{% url 'orders:order_create' %}"
          class="btn btn--primary btn--block"
        >
          {% trans 'Proceed To Checkout' %}
        </a>
      </div>
    </div>
  </div>

  <div class="recommend">
    <p class="heading-secondary">{% trans 'People bought this also bought' %}</p>
    <div class="card-grid">
      {% for product in recommended_products %}
      <div class="card">
        <img src="{% thumbnail product.image 640x480 crop %}" alt="{{ product.slug }}" class="card__image" />
  
        <div class="card__content">
          <p class="card__title">{{ product.name }}</p>
          <p class="card__description">
            {{ product.description }}
          </p>
          <p class="card__price">{% trans 'Price' %}: <span>${{ product.price }}</span></p>
        </div>
  
        <div class="card__button">
          <a href="#" class="card__button--order" id="product-{{ product.id }}">{% trans 'Add To Cart' %}</a>
          <a href="{{ product.get_absolute_url }}" class="card__button--detail">
            {% trans 'Detail' %}
          </a>
        </div>
      </div>
      {% empty %} {% trans 'No Products' %} {% endfor%}
    </div>
  </div>
{% endblock %}

{% block script %}
{% csrf_token %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}