{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}

{% block title %}{% trans 'Your order has been processed' %}{% endblock %}

{% block content %}
  <p class="breadcrumb">
    <a href="/">FreshFood</a>
    <a href="{% url 'orders:order_create' %}">{% trans 'Checkout' %}</a>
  </p>

  <p class="heading-primary">{% trans 'Thank you for your order' %}</p>

  <div class="checkout">
    <div class="checkout__completed">
      <p class="checkout__message">
        {% blocktrans with url=order.get_absolute_url id=order.id %}
          Your order number <a href="{{ url }}">#{{ id }}</a> has been processed and is
          preparing for shipping. You can review this order at
          <a href="{{ order.get_absolute_url }}">this link</a>
        {% endblocktrans %}
      </p>

      <img src="{% static 'img/shipping.png' %}" alt="shipping" class="checkout__message-image" />
      <div class="checkout__buttons">
        <a href="/" class="btn btn--primary">{% trans 'Continue Shopping' %}</a>
        <a href="/" class="btn btn--danger">{% trans 'Back To Homepage' %}</a>
      </div>
    </div>
  </div>
{% endblock %}